@font-face{
    font-family: dock11;
    src: url(dock11-heavy.otf);
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-color: grey;
    color: white;
}
.background-text{
    font-family: dock11;
    font-size: 300px;
    letter-spacing: 20px;

    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    background-image: url(text\ background\ animation\ img.jpeg);
    animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes bg-animation{
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}